.modal {
  background: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  width: 50%;
  margin: 10rem auto;
  padding: 2rem;
}
.invisible {
  visibility: hidden;
}

title {
  margin-top: 2rem;
}

.close-icon {
  cursor: pointer;
  position: absolute;
  color: gray;
  font-weight: 500;
  top: 2rem;
  right: 2rem;
  transform: translate(50%, -50%);
}
.close-icon:hover {
  color: rgb(114, 158, 38);
}
