.form_label {
  margin-top: 2rem;

  color: #a2a2a2;
  font-size: 28px;
}

.input-box {
  margin: 0.35rem;
  display: flex;
  justify-content: space-between;
}
.hide-show {
  color: #000000;
  text-decoration: underline;
  align-self: flex-end;
  cursor: pointer;
}

.click-text {
  color: blue;
  cursor: pointer;
}
.click-text:hover {
  color: rgb(196, 206, 206);
}
.error-message {
  color: red;
}
.button-login {
  text-align: center;

  width: 100%;
  margin-top: 2rem;
}
