.inputContainer {
  margin: 0.35rem;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.userInput {
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  justify-self: stretch;
  display: block;
  margin: 0.3rem 0;
}

.notValid {
  border-color: rgb(194, 65, 65);
  background-color: rgba(241, 187, 187, 0.509);
}

.input-label {
  display: block;
  text-align: left;
  margin: 0.25rem 0;
}
.error_message {
  color: rgb(194, 65, 65);
  display: block;
  text-align: left;
  margin: 0.25rem 0;
}
