.header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #516f58;
  padding: 0 2rem;
}

.header-logo {
}
.header-title {
  color: white;
  position: relative;
  left: 1rem;
  top: 0.7rem;
}
.header span {
  color: white;
  position: relative;
  left: 14rem;
  bottom: 2rem;
}
