.footer {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #516f58;
  padding: 0 2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
}
.footer i {
  color: rgb(71, 70, 70);
}
